.main-container {
  margin: 86px 12px 0;
}
.pagination {
  margin: 36px 0 18px;
  display: flex;
  justify-content: center;
}
.router-link {
  cursor: pointer;
  text-decoration: none;
  color: dodgerblue;
}
.router-link:hover {
  color: rgb(83, 169, 255);
}
.list-container {
  margin: 12px 0;
}
